rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
    match /solutions/{solutionId} {
      allow read: if true;
      allow create, update: if request.auth.uid != null && request.auth.token.email_verified == true;
      allow delete: if false;
    }
    // /{document=**}
  }
}