@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        /* --primary-foreground: 222.2 47.4% 11.2%; */
        --primary-foreground: 210 40% 98%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        scroll-behavior: smooth !important;
    }
    body {
        @apply bg-background text-foreground;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        --keyboard-zindex: 3000;
        --keyboard-padding-top: 0px;
    }

    @media (max-width: 600px) {
        body {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

p {
    margin: 1rem;
}

.katex {
    font-size: 2rem !important;
}

@media (max-width: 694px) {
    math-field {
        font-size: medium !important;
    }
}

.fancy-1 {
    @apply rounded-md;
    background: radial-gradient(farthest-side at bottom, black 98%, transparent)
            bottom/calc(2 * var(--d, 7px)) var(--d, 0) no-repeat,
        linear-gradient(black 0 0) bottom / 15px 3px no-repeat;
    transition: 0.5s;
}
.fancy-1:hover {
    --d: 150%;
    color: #fff;
}

.dark .fancy-1 {
    @apply rounded-md;
    background: radial-gradient(farthest-side at bottom, white 98%, transparent)
            bottom/calc(2 * var(--d, 7px)) var(--d, 0) no-repeat,
        linear-gradient(white 0 0) bottom / 15px 3px no-repeat;
    transition: 0.5s;
}
.dark .fancy-1:hover {
    --d: 150%;
    color: #000;
}

[data-radix-popper-content-wrapper] {
    z-index: 500000000 !important;
}
.firebase-emulator-warning {
    @apply sr-only;
}

math-field {
    --contains-highlight-background-color: rgba(0, 120, 212, 0.2);
}

.go-away {
    @apply overflow-hidden;
    width: fit-content;
    /* make this element's width be 0 after 6 seconds */
    animation: go-away 1s 3s linear forwards;
}

@keyframes go-away {
    100% {
        width: 0;
        padding: 0;
        margin: 0;
    }
}
